@model IEnumerable<Student>
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Age</th>
            <th>DeptId</th>
        </tr>
    </thead>
    <tbody>
        @if (!Model.Any()) // Better way to check if list is empty
        {
            <tr>
                <td colspan="4" style="text-align: center;" class="fw-bold">No Students Found!</td>
            </tr>
        }
        else
        {
            @foreach (var std in Model)
            {
                <tr>
                    <td>@std.Id</td>
                    <td>@std.Name</td>
                    <td>@std.Age</td>
                    <td>@std.DeptId</td>
                </tr>
            }
        }
    </tbody>
</table>
